<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/invertLogo.png" alt="CF logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Newsletter Subscribe</p>
			<p>Get quarterly updates and be inspired.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Catholic Footsteps</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Our Program</a></li>
					<li><a href="/values" class="link">Our Values</a></li>
					<li><a href="/post" class="link">CF News</a></li>
					<li><a href="/contact" class="link">Contact Us</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/profile.php?id=100088822431852" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/catholicfootsteps" "svg" "icons-instagram") }}
				
				</ul>
			</div>
			<div>
				<h5 class="f4 b lh-title mb1 primary">&copy 2022-{currentYear} Catholic Footsteps All rights reserved.</h5>
			</div>
		</div>
	</div>

</footer>

{{ partial "svg" . }}
